
.mainContainer{
    padding: 6.613756613756613vw 9.920634920634921vw;
}

.mainContainer h2{
    width: 52.910052910052904vw;
    margin: 0 auto 1.3227513227513228vw auto;
}


.locationDateContainer {
  font-size: 1.0582010582010581vw;
  color: #13670b !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4629629629629629vw;
  margin-bottom: 1.984126984126984vw;
  
}

.dot{
    background-color: #13670b;
    width: 0.3306878306878307vw;
    height: 0.3306878306878307vw;
    border-radius: 0.3306878306878307vw;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content img{
    width: 73.54497354497354vw !important;
    height: 33.06878306878307vw !important;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1.984126984126984vw;
} 

.description{
    width: 66.93121693121694vw;
    text-align: center;
    margin: 0 auto;
}