@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}




@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* Extra-Light font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi-Bold font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-Light.ttf') format('truetype');
  font-weight: 300; /* Light font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('/Fonts/Sora-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular font weight */
  font-style: normal;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #FFF;
    font-family: 'Sora', sans-serif !important;
}

li{
  cursor: pointer;
}

.activeListItem {
  color: #13670B; 
}

/* Header Start */

.hContainer{
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  background-color: rgba(247, 247, 248, 1);
}

.hUlList{
  color: #02040E;
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
}

.hUlList li{
  cursor: pointer;
}

.hButtonContainer{
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 61px;
  background: #13670B;
  width: 200px;
}

.btn{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  display: flex;
  align-items: center;
  gap: 10px;
}

/* Header End */

/* Hero Start */

.heroContainer{
  margin-bottom: 20px;
}

.imageWithText{
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.imageOverlay {
  position: relative;
}

.hImage {
  width: 100%;  
  height: auto;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  /* color: white;  */
  gap: 30px;
  text-align: center;
  padding-left: 150px; /* Adjust as needed */
  /* padding-top: 300px;  */
}

.textOverlay h1 {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 76.8px */
  text-transform: capitalize;
  text-align: left;
  margin-bottom: -10px;
  white-space: nowrap;
}

.textOverlay p {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  text-align: left;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  gap: 130px;
}
/* Hero End */


/* Location Start  */

.locationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:60px;
  background: #FFF;
  padding: 0 150px;
}

.locationContentContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.locationHeading{
  color: #02040E;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  text-transform: capitalize;
  margin-bottom: -10px;
}

.locationDesc{
  color: #58595B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  width: 546px;
}

.locationContainer .hButtonContainer{
  width: 210px;
}

/* Location End */

/* Business Setup Start */

.bussinessContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.businessHeading{
  color: #13670B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}

.businessDesc{
  color: #02040E;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  text-transform: capitalize;
}

.businessVideoContainer{
  display: flex;
  gap: 40px;
  width: 100%;
}

.ksa{
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.uae{
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.businessCardContentContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0 103px;
}

.ksaHeading{
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  text-transform: capitalize;
  margin-bottom: 10px;
  white-space: nowrap;
}

.ksaDesc{
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 20px;
}

.businessCircle{
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Business Setup End */

/* Services Start */

.serviceContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.cardMainContainer{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardContainer{
  width: 328px;
  height: 304px;
  flex-shrink: 0;
  background-color: rgba(247, 247, 248, 1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.servicesHeading{
  color: #02040E;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: capitalize;
}

.servicesDescContainer{
  width:  258px;
  height: 110px;
}

.servicesDesc{
  color: #58595B;
/* r1 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.serviceContainer .servicesButton{
  margin-top: -20px;
}

/* Services End */

/* Why Beacon Start */

.whyBeaconContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.whyBeaconContentsContainer{
  display: flex;
  gap: 30px;
}

.whyBeaconContentsContainer .businessHeading{
  padding-top: 20px;
}

.whyBeaconLeft{
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.whyBeaconRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 2;
}

.whyBeaconHeading{
  color: #02040E;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 30px;
}

.whyBeaconDesc{
  color: #58595B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.whyBeaconImgContainer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyBeaconImg{
  /* width: 100% !important;
  height: 100% !important; */
  object-fit: contain;
}

.beaconMainContainer{
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.beaconContainer{
  width: 330px;
  height: 143px;
  display: flex;
  gap: 15px;
}

.beaconContentContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.beaconHeading{
  color: #02040E;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  text-transform: capitalize;
}

.beaconDesc{
  width: 289px;
  color: #58595B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.scrolling-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


/* Why Beacon End */

/* Clients Start  */

.clientsContainer{
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.clientsImgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonialMainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 248, 1);
  height: 424px;
  padding: 0 150px;
  margin-top: 60px;
  gap: 28px;
}

.testimonialLeftContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 54%;
}

.testimonialRightContainer{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.testimonialImageButtonContainer{
  display: flex;
  justify-content: space-between;
}

.testimonialHeading{
  color: #02040E;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  text-transform: capitalize;
  margin-bottom: 20px;
}

.testimonialDesc{
  color: #58595B;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 293px;
}

.testimonialMessage h1{
  color: #02040E;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: capitalize;
}

.testimonialProfile{
  display: flex;
  gap: 10px;
}

.testimonialProfile img{
  border-radius: 50%;
}

.profileName{
  color: #02040E;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}

.profileDesignation{
  color: #58595B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

/* Clients End  */

/* Blogs Start */

.blogsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.rectangleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.rectangleContainer .cardContainer{
  background-color: white;
  height: auto;
  padding: 0px;
}

/* .cardContainer .imgContainer{
  align-self: center;
} */

.rectangleContainer .servicesDescContainer{
  width: auto;
}

.blogBtnMainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blogButtonContainer{
  width: 224px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 82px;
  background: #13670B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogBtn{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.blogsContainer > div:nth-child(3) {
  margin-top: -50px;
}

/* Blogs End */

/* FAQ Starts */

.faqMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.faqContainer{
  display: flex;
  gap: 20px;
  width: 100%;
}

.faqLeft{
  flex: 90%;
}

.faqLeft .businessHeading{
  text-align: left;
  margin-bottom: 20px;
}

.faqLeft .businessDesc{
  text-align: left;
}

.faqRight{
  flex: 70%;
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.faqRight:first-child {
  margin: 0px;
}

.faqContentContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 555.812px;
}

.faqQuestion h1{
  color: #02040E;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  text-transform: capitalize;
}

.faqDesc{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.faqDesc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.faqDesc.open {
  max-height: 200px; /* Adjust the maximum height as needed */
}

/* FAQ Ends */

/* Contact Start */

.contactMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0px 150px;
}

.contactContainer {
  background: url("../../public/Contact.png");
  width: 100%;
  height: 500px;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.contactHeading{
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 56px */
  text-transform: capitalize;
}

.contactDesc{
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.contactButtonContainer{
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 61px;
  background: #13670B;
}

.contactBtn {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  display: flex;
  align-items: center;
  gap: 5px;
}

/* Contact End */

/* Footer Start */

.footerContainer{
  display: flex;
  flex-direction: column;
  height: 380px;
  background-color: #02040E;
  gap: 51px;
  padding: 70px 150px 50px 150px;
}

.topContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footercontent{
  display: flex;
  gap: 50px;
}

.footercontent li{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  text-transform: capitalize;
}

.bottomContainer{
  display: flex;
  justify-content: space-between;

}

.footerSocialContainer{
  display: flex;
  gap: 20px;
} 

.footerContainer hr{
  background: rgba(255, 255, 255, 0.60);
}

.socialIcons{
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.footerCopyRight{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  text-align: center;
}

/* Footer End */

/* Services Page Start */

.servicesPageMainContainer{
  margin-top: 100px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0 150px;
}

.servicesPageColomnContainer{
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 70px;
}

.servicesPageRowContainer{
  display: flex;
  gap: 70px;
  align-items: center;
  width: 100%;
  
}

.servicesPageImageContainer{
  width: 67%;
}

.servicesPageNo h1{
  color: #13670B;
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 76.8px */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.servicesPageContentContainer{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.servicesPageHeading{
  color: #02040E;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 42px */
  text-transform: capitalize;
  white-space: nowrap;
}

.servicesDesc{
  color: #58595B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
}

.serviceFooterMargin{
  margin-top: 110px;
}

/* Services Page End */